 table, th, td {
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td { 
    padding: 15px;
    text-align: left;
    cursor: pointer;
}

.tableHeader {
    font-size: 24px;
    color: sienna;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}