<button mat-button [matMenuTriggerFor]="menu" class="menuDesign">Welcome {{ username }}</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="getBills()">My bills</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<app-password class="password"></app-password>

<div class="UsersBills" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <app-bill *ngIf="bills" [bills]="bills" [username]="username"></app-bill>
</div>

  