<button mat-button [matMenuTriggerFor]="menu" class="menuDesign" (click)="menuClicked()">Change password</button>
<mat-menu #menu="matMenu" (click)="$event.stopPropagation();">
    <mat-card (click)="$event.stopPropagation();">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-card-title class="changePassword">Change password</mat-card-title>
    <mat-card-content fxLayout="column">
        <div formGroupName='passwordGroup'>
            <mat-form-field class="formField" >
                <input fxFlex="100%" matInput type="password" placeholder="password" formControlName="password" autocomplete="new-password"/>
                <br>
                <mat-error style="font-size: 10px;" *ngIf="passwordForm.touched  && passwordForm.invalid">
                    Password must have at least 8 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field class="formField" >
                <input matInput type="password" placeholder="confirm password" formControlName="confirm" autocomplete="new-password"/>
                <mat-error style="font-size: 10px;" *ngIf="passwordForm.touched  && passwordForm.invalid">
                    Password must have at least 8 characters
                </mat-error>
            </mat-form-field>
            <mat-error style="font-size: 10px;" *ngIf="passwordForm.touched  && passwordForm.invalid">
                <br>
                Password and confirm password must be same
            </mat-error>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center" class="submitButton">
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid">Submit</button>
    </mat-card-actions>
</form>
</mat-card>
</mat-menu>
